# Builder-only overrides.
# In the monorepo, the root .env is usually enough.

BUILDER_HOST=0.0.0.0
BUILDER_PORT=3000
BUILDER_AUTH_TOKEN=
BUILDER_STORAGE_DRIVER=fs
BUILDER_STORAGE_FS_ROOT=.coderocket/builds
BUILDER_TEMP_DIR=.coderocket/tmp
BLOB_READ_WRITE_TOKEN=
