<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CodeRocket - Welcome</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <style>
    [ng-cloak],
    [data-ng-cloak],
    [x-ng-cloak],
    .ng-cloak,
    .x-ng-cloak {
      display: none !important;
    }
    body {
      margin: 0;
      background-color: #0B0B1D;
      color: #FFFFFF;
    }
    app-root {
      display: block;
      min-height: 100vh;
    }
  </style>
</head>
<body ng-cloak>
  <app-root></app-root>
</body>
</html>
